.Text {
	color: var(--text-color);
}

.title {
	font-weight: bold;
	font-size: var(--font-l);
}

.content {
	font-size: var(--font-m);
}

@media screen and (max-width: 600px) {
	.title {
		font-size: var(--font-m);
	}

	.content {
		font-size: var(--font-s);
	}
}