.Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Modal.dark {
    background-color: var(--bg-color);
    color: var(--primary-color);
}

.Modal.light {
    background-color: var(--bg-color);
    color: var(--primary-color);
}

.overlay {
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 20px;
    border-radius: 12px;
    background-color: var(--bg-color);
    transition: 0.3s transform;
    transform: scale(0.5);
    max-width: 60%;

    .light {
        color: var(--primary-color);
        background-color: var(--bg-color);
    }

    .dark {
        color: var(--primary-color);
        background-color: var(--bg-color);
    }
}

.opened {
    opacity: 1;
    pointer-events: auto;
    z-index: 10;

    .content {
        transform: scale(1);
    }
}

.isClosing {
    .content {
        transform: scale(0.2);
    }
}
