.Wrapper {
    display: flex;
}

.label {
    margin: 0 5px;
}

.select {
    background: none;
    outline: none;
    color: var(--primary-color);
    padding-right: 10px;
    border: 1px solid var(--primary-color);
}

.option {
    color: var(--inverted-secondary-color);
    background-color: var(--inverted-bg-color);
}

.readonly {
    opacity: 0.7;
}
