* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bg-green: #00a884;
	--color-white: #FFF;
	--header-height: 59px;
	--bg-dark: 	#111b21;
	--bg-card: #111b21;
	--text-gray: #3f3f3f;
}
