.label {
    color: var(--primary-color);
}

.options {
    background: var(--listbox);
    position: absolute;
    z-index: 101;
    border-radius: 6px;
    box-shadow: 4px 4px 10px;
    width: 100%;
}

.item {
    list-style: none;
}
