.Contacts {
	background-color: #111b21;
}

.input {

	width: 90%;
	border-radius: 5px;
	padding: 5px;
}

.button {
	color: var(--color-white);
	width: 90%;
	border-radius: 5px;
	background-color: var(--bg-green);
}

.text {
	color: var(--color-white);
}

.exitButton {
	color: var(--color-white);
	width: 90%;
	border-radius: 5px;
	background-color: var(--bg-dark);
}
