.Overlay {
    background: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    z-index: -1;
    cursor: pointer;
    opacity: 0.9;
}
